
<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>

<style>
        body {
          background-color: #1c87c9;
        }
</style>

<div class="jumbotron">

        <div class="card text-center">
                <div class="card-body bg-primary">
                        <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1659980382/Logo_Oogway_r7m6dv.png"
                                class="rounded-circle_ mx-auto d-block m-4" 
                                width="300" 
                        />
                </div>

                <div class="card-footer text-muted bg-secondary">
                        <h4>Our Own Geeky Way!</h4>
                </div>
        </div>     

</div>

<%- include ('partials/footer.ejs') %>