
<%- include ('partials/header.ejs') %>

<div class="col-md-8 mx-auto">

    <div class="card text-center my-4">

        <div class="card-header bg-primary"><h3>New Job</h3></div>

        <div class="card-body bg-primary">

            <form action="/notes/new-note" method="POST" enctype="multipart/form-data">

                <div class="form-group">

                    <input 
                        type="text" 
                        name="mtxJobId"
                        class="form-control mb-2 bg-dark text-white"
                        placeholder="MTX Job ID"
                        id="MTXjobNumber"
                        value="<%= jn %>"
                        readonly
                        hidden
                    >


                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Batch</span>
                        <input 
                            type="number" 
                            min="1" max="100"
                            name="batch"
                            class="form-control bg-dark text-white"
                            placeholder="Batch"
                            value="1"
                        >
                    </div>


                    <!-- <input 
                        type="text" 
                        name="title"
                        class="form-control mb-2 bg-dark text-white"
                        placeholder="Title"
                        autofocus
                    > -->


                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Task</span>
                        <select class="form-select bg-dark text-white" 
                                id="title"
                                name="title"
                                autofocus
                            >
                            <option>Choose...</option>
                            <option>Subject Setup</option>
                            <option>Req.Info</option>
                            <option>Planning</option>
                            <option>Revision</option>
                            <option>Offsets</option>
                            <option>Reports</option>
                            <option>T&D</option>
                            <option>Hydra</option>
                            <option>SurveyMng</option>
                            <option>Meeting</option>
                            <option>Training</option>
                            <option>Others</option>
                        </select>
                    </div>

                    


                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Responsible</span>
                        <select class="form-select bg-dark text-white" 
                                id="responsible"
                                name="responsible"
                            >
                            <option>Choose...</option>
                            <%- include ('partials/optionsPeople.ejs') %>
                            <!-- <option>Polita</option>
                            <option>John</option>
                            <option>Pablo</option>
                            <option>Daniel</option>
                            <option>Sammy</option> -->
                        </select>
                    </div>




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Customer</span>
                        <select class="form-select bg-dark text-white" 
                                id="customer" 
                                name="customer"
                            >
                            <option>Choose...</option>
                            <option>CNRL</option>
                            <option>PHX</option>
                            <option>MSTR</option>
                            <option>OTMX</option>
                            <option>STND</option>
                            <option>SLB</option>
                            <option>PSTR</option>
                            <option>MTX</option>
                            <option>Other</option>
                        </select>
                    </div>


                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">C.Job# / Plan V.</span>
                        <input 
                            type="text" 
                            name="customerJobNumber"
                            class="form-control bg-dark text-white"
                            placeholder="Customer Job Number"
                        >
                    </div>


                    <!-- <input 
                        type="text" 
                        name="customerJobNumber"
                        class="form-control mb-2 bg-dark text-white"
                        placeholder="Customer Job Number"
                    > -->




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Operator</span>
                        <select class="form-select bg-dark text-white" 
                                id="operator" 
                                name="operator"
                            >
                            <option>Choose...</option>
                            <option>CNRL</option>
                            <option>Tourmaline</option>
                            <option>Vermilion</option>
                            <option>Spur</option>
                            <option>Rockeast</option>
                            <option>CrecentPoint</option>
                            <option>Whitecap</option>
                            <option>Wyatt</option>
                            <option>Gear</option>
                            <option>Saturn</option>
                            <option>Touchstone</option>
                            <option>Other</option>
                        </select>
                    </div>




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Rig</span>
                        <input 
                            type="text" 
                            name="rig"
                            class="form-control bg-dark text-white"
                            placeholder="Rig"
                        >
                    </div>




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Project / Site</span>
                        <input 
                            type="text" 
                            name="project"
                            class="form-control bg-dark text-white"
                            placeholder="Project or Site"
                        >
                    </div>




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">D.E</span>
                        <input 
                            type="text" 
                            name="poc"
                            class="form-control bg-dark text-white"
                            placeholder="Drilling Engineer"
                        >
                    </div>

                    
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Geo</span>
                        <input 
                            type="text" 
                            name="geologist"
                            class="form-control bg-dark text-white"
                            placeholder="Geologist"
                        >
                    </div>








                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Wells</span>
                        <input 
                            type="number" 
                            min="1" max="100"
                            name="wells"
                            class="form-control bg-dark text-white"
                            placeholder="Wells"
                            value="1"
                        >
                    </div>


                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Area</span>
                        <input 
                            type="text" 
                            name="area"
                            class="form-control bg-dark text-white"
                            placeholder="Area"
                        >
                    </div>


                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Budget</span>
                        <input 
                            type="text" 
                            name="budget"
                            class="form-control bg-dark text-white"
                            placeholder="Budget"
                        >
                    </div>








                    <textarea 
                        name="description" 
                        id="description"
                        class="form-control mb-2 bg-dark text-white"
                        style="height: 500px;"
                        onmousemove='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                        oninput ='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                    ></textarea>




                    <div class="form-group mb-2">
                        <div class="input-group">
                            <span class="input-group-text bg-dark text-white">Priority</span>
                            <select class="form-select bg-dark text-white" 
                                    id="priority" 
                                    name="priority"
                                >
                                <option>Choose...</option>
                                <option>Extreme</option>
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                     </div>








                     <div class="input-group mb-2 bg-dark text-white">
                        <span class="input-group-text bg-dark text-white">Created</span>
                        <input type="date"
                            id="created" 
                            name="created"
                            class="form-control bg-dark text-white"
                            
                        >
                    </div>



                    <div class="input-group mb-2 bg-dark text-white">
                        <span class="input-group-text bg-dark text-white">Due Date</span>
                        <input type="date"
                            id="dueDate" 
                            name="dueDate"
                            class="form-control bg-dark text-white"
                        >
                    </div>




                    

                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Invoice</span>
                        <select class="form-select bg-dark text-white" 
                                id="invoice" 
                                fdprocessedid="5cv5ue"
                                name="invoice"
                            >
                            <option>Choose...</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>




                    
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-dark text-white">Status</span>
                            <select class="form-select bg-dark text-white" 
                                    id="status" 
                                    name="status"
                                >
                                <option>Choose...</option>
                                <option>Not Started</option>
                                <option>In Progress</option>
                                <option>Completed</option>
                                <option>On Hold</option>
                                <option>QA/QC</option>
                                <% if (user.role == 'admin') { %>
                                    <option>Billed</option>
                                    <option>Archived</option>
                                <% } %>
                            </select>
                        </div>
                    </div>


                    
                    
                    <div class="d-grid gap-2 d-md-block mb-2">

                        <button class="btn btn-primary" type="submit">Upload new note</button>

                        <a class="btn btn-danger me-md-2" href="/notes">Cancel</a>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>