<%- include ('partials/header.ejs') %>

<style>
    body {
        background-color: black;
    }
    #BACKGROUND_GROUP {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        overflow: hidden;
    }
    .signin-wrapper {
        position: relative;
        z-index: 10;
    }
    .signin-wrapper {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signin-layer {
        position: fixed;
        inset: 0;
        z-index: 9999;          /* higher than Wix internals */
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
    }
</style>





<div id="BACKGROUND_GROUP" class="backgroundGroup_mainPage BACKGROUND_GROUP">
    <div id="BACKGROUND_GROUP_TRANSITION_GROUP">
        <div id="pageBackground_mainPage" data-media-height-override-type="" data-media-position-override="false" class="pageBackground_mainPage BmZ5pC">
            <div id="bgLayers_pageBackground_mainPage" data-hook="bgLayers" data-motion-part="BG_LAYER pageBackground_mainPage" class="MW5IWV">
                <div id="bgMedia_pageBackground_mainPage" data-motion-part="BG_MEDIA pageBackground_mainPage" class="VgO9Yg">
                    <wix-video 
                        id="videoContainer_pageBackground_mainPage" 
                        data-video-info="{&quot;fittingType&quot;:&quot;fill&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;hasBgScrollEffect&quot;:&quot;&quot;,&quot;bgEffectName&quot;:&quot;&quot;,&quot;videoId&quot;:&quot;11062b_c18db2b1461b46f2ad31bae61009fee1&quot;,&quot;videoWidth&quot;:1920,&quot;videoHeight&quot;:1080,&quot;qualities&quot;:[{&quot;quality&quot;:&quot;480p&quot;,&quot;size&quot;:409920,&quot;url&quot;:&quot;video/11062b_c18db2b1461b46f2ad31bae61009fee1/480p/mp4/file.mp4&quot;},{&quot;quality&quot;:&quot;720p&quot;,&quot;size&quot;:921600,&quot;url&quot;:&quot;video/11062b_c18db2b1461b46f2ad31bae61009fee1/720p/mp4/file.mp4&quot;},{&quot;quality&quot;:&quot;1080p&quot;,&quot;size&quot;:2073600,&quot;url&quot;:&quot;video/11062b_c18db2b1461b46f2ad31bae61009fee1/1080p/mp4/file.mp4&quot;}],&quot;isVideoDataExists&quot;:&quot;1&quot;,&quot;videoFormat&quot;:&quot;mp4&quot;,&quot;playbackRate&quot;:1,&quot;autoPlay&quot;:true,&quot;containerId&quot;:&quot;pageBackground_mainPage&quot;,&quot;animatePoster&quot;:&quot;none&quot;}"                        
                        data-motion-part="BG_IMG pageBackground_mainPage" 
                        class="bX9O_S bgVideo yK6aSC"
                    >
                    <video id="pageBackground_mainPage_video" 
                        class="K8MSra" 
                        crossorigin="anonymous" 
                        playsinline="" 
                        preload="auto" 
                        muted="" 
                        loop="" 
                        autoplay="" 
                        src="https://video.wixstatic.com/video/11062b_c18db2b1461b46f2ad31bae61009fee1/1080p/mp4/file.mp4" 
                        style="height: 100%; width: 100%; object-fit: cover; object-position: center center; opacity: 1;">
                    </video>
                    <wow-image 
                        id="pageBackground_mainPage_img" 
                        class="jhxvbR Z_wCwr Jxk_UL bgVideoposter yK6aSC" 
                        data-image-info="{&quot;containerId&quot;:&quot;pageBackground_mainPage&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:1920,&quot;targetHeight&quot;:1920,&quot;isLQIP&quot;:true,&quot;encoding&quot;:&quot;AVIF&quot;,&quot;imageData&quot;:{&quot;width&quot;:3840,&quot;height&quot;:2160,&quot;uri&quot;:&quot;11062b_c18db2b1461b46f2ad31bae61009fee1f000.jpg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;quality&quot;:{&quot;unsharpMask&quot;:{&quot;radius&quot;:0.33,&quot;amount&quot;:1,&quot;threshold&quot;:0}},&quot;devicePixelRatio&quot;:1}}" 
                        data-motion-part="BG_IMG pageBackground_mainPage" 
                        data-bg-effect-name="" 
                        data-has-ssr-src="true" 
                        style="opacity: 0;"                        
                    >
                    <img 
                        src="https://static.wixstatic.com/media/11062b_c18db2b1461b46f2ad31bae61009fee1f000.jpg/v1/fill/w_1244,h_924,al_c,q_85,usm_0.33_1.00_0.00,enc_avif,quality_auto/11062b_c18db2b1461b46f2ad31bae61009fee1f000.jpg" 
                        alt="" 
                        style="width: 1244px; height: 924px; object-fit: cover; object-position: 50% 50%;" 
                        width="1920" 
                        height="1920" 
                        data-ssr-src-done="true" 
                        fetchpriority="high">
                    </wow-image>
                </wix-video>
            </div>
        </div>
    </div>
</div>



<!-- https://res.cloudinary.com/metacortexjohn/image/upload/v1711167914/Canadian_Natural_logo_ygbbox.png -->
 <!-- https://res.cloudinary.com/metacortexjohn/image/upload/v1769884735/Planit_logo_fle1hb.png" -->
  <!-- https://res.cloudinary.com/metacortexjohn/image/upload/v1769889345/Planit_poster_01_ejhke0.png -->
   <!-- https://res.cloudinary.com/metacortexjohn/image/upload/v1769889664/Planit_poster_02_neaxo6.png -->


    <div class="signin-layer">
        <div class="card _bg-dark" style="background-color: rgba(0,0,0,0.5);">
            <div class="card _bg-dark" style="background-color: transparent;">
                <div class="card-header _bg-dark" style="background-color: transparent;"><h4>Account Login</h4></div>
                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1769889664/Planit_poster_02_neaxo6.png"
                    class="rounded-circle_ mx-auto d-block _m-4" width="60%"
                >
                <div class="card-body">
                    <form action="/users/signin" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>                    
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>                    
                        <button class="btn btn-success btn-block">OK</button>
                    </form>
                </div>
            </div>
        </div>
    </div>






    <!-- <div class="col-md-6 mx-auto my-4">
        <div class="signin-wrapper col-md-6 mx-auto my-4">
            <div class="card _bg-dark" style="background-color: transparent;">
                <div class="card-header _bg-dark" style="background-color: transparent;"><h4>Account Login</h4></div>
                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1769884735/Planit_logo_fle1hb.png"
                    class="rounded-circle_ mx-auto d-block _m-4" width="60%">
                <div class="card-body">
                    <form action="/users/signin" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>                    
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>                    
                        <button class="btn btn-success btn-block">OK</button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->


<%- include ('partials/footer.ejs') %>