
<%- include ('partials/header.ejs') %>

<div class="row">

    <div class="col-md-4 mx-auto my-4">

        <div class="card">

            <div class="card-header bg-dark"><h4>Member Register</h4></div>

            <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1658373762/Logo_Metacortex_fzh4by.png"
                        class="mx-auto d-block m-4" width="70%">

            <div class="card-body bg-dark">

                <form action="/users/signup" method="post">

                    <div class="form-group">
                        <input type="text" class="form-control bg-dark text-white" name="name" placeholder="Name" autofocus>
                    </div>
                    
                    <div class="form-group">
                        <input type="email" class="form-control bg-dark text-white" name="email" placeholder="Email">
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Role</span>
                        <select class="form-select bg-dark text-white" 
                                id="role"
                                name="role"
                            >
                            <option>Choose...</option>
                            <option>viewer</option>
                            <option>user</option>
                            <option>leader</option>
                            <option>admin</option>
                        </select>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Rank</span>
                        <select class="form-select bg-dark text-white" 
                                id="rank"
                                name="rank"
                            >
                            <option>Tech0</option>
                            <option>Tech1</option>
                            <option>Tech2</option>
                            <option>Tech3</option>
                            <option>WP1</option>
                            <option>WP2</option>
                            <option>WP3</option>
                            <option>DS1</option>
                            <option>DS2</option>
                            <option>DS3</option>
                        </select>
                    </div>




                    <!-- Estoy trabajando en esto -->
                    <div class="card mb-3" style="background-color: rgb(25, 24, 24);">
                        <div class="card-body">
                          <p class="card-text">Select one avatar</p>
                          <div class="input-group mb-3">
                            <input
                              type="file"
                              name="image"
                              class="form-control"
                              id="inputGroupFile02"
                            />
                          </div>
                        </div>
                    </div>
                    <!-- ----------------------- -->




                    <div class="form-group">
                        <input type="text" class="form-control bg-dark text-white" name="list" placeholder="List">
                    </div>
                    
                    <div class="form-group">
                        <input type="password" class="form-control bg-dark text-white" name="password" placeholder="Password">
                    </div>
                    
                    <div class="form-group">
                        <input type="password" class="form-control bg-dark text-white" name="confirm_password" placeholder="Confirm Password">
                    </div>
                    
                    <button class="btn btn-success btn-block">Sign Up</button>

                    <a href="/notes" class="btn btn-danger btn-block">Cancel</a>

                </form>

            </div>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>