


<%- include ('partials/header.ejs') %>

<div class="card p-4 m-4">
  <h1 class="card-header">Not Found</h1>
  <div class="card-body">
    <h3 class="card-title">Site <%= site %> Not Found</h3>
    <p class="card-text">The site you are looking for does not exist in the database.</p>
    <a href="/notes" class="btn btn-primary btn-block my-2">Back</a>
  </div>
</div>

<%- include ('partials/footer.ejs') %>