
<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-2_ border-0">    

    <div class="container-fluid">

      <a><img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1658373747/Icono_Metacortex_ahblhc.png" alt="" height="40"></a> 

      <p class="mx-3" >Member</p>
      <!-- <a class="mx-3" href="/">Member</a> -->
      <!-- <a class="mx-3" href="/users/edit/<%= user.id %>">Member</a> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMember" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Member
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMember">
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</nav>

